/*==============================================
                  PAGE SPECIFIC
==============================================*/

#about{
	display: block;
	position: center;
}

#about-container {
	height: auto;
	width: 55%;
	min-width: 300px;
	color: gray;
	margin: auto;
	background: rgba(255,255,255, .8);
	border: 3px solid white;
	border-radius: 5%;
}
#about-container p{
	margin: 30px;
}
#about-title,#about-container p{
		font-family: krona one;
}
#scroll {
	overflow: scroll;
	overflow-x: hidden;
	max-height: 300px;
	padding-bottom: 10px;
}	

#carousel-inner {
	border: 1px solid blue;
	border-radius: 5%;
	
}
/*==============================================
                  UNIVERSAL
==============================================*/


.bgimage {
	background-image: url(../images/profile/bridge2.png);
	background-position: center;
	/* background-size: cover; */
	width: 100%;
	height: 600px;
	border: 2px solid gray;
	border-top: 0px;
	text-align: center;
	overflow-x: hidden;
}
/*=========================
             HEADER START
============================*/

#header {
	width: cover;
	background: rgba(8,68,102, .2);


}
#logo {
	height: 45px;
	width: 65px;
	position: relative;
	/* margin-right: 100px; */
	border: none;
	padding: 2px;
}

#logo-hover {
	position: absolute;
	height: 52px;
	width: 59px;
	display: block;
	/* border: 1px solid black; */
	transition: transform .2s;
	transform-origin: 50% 50%;
	cursor: pointer;
}
#logo-hover:hover {
	transform: scale(1.152);
}
#menu {
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: 5px;
	border: none;
	padding: 2px;
}

#menu-hover{
		/* top: -43px; */
		height: 45px;
		width: 46px;
		display: block;
		border: none;
		transition: transform .2s;
		transform-origin: 50% 50%;
}

#menu-container{
	position: relative;
	height: 0px;
	width: 80px;
	line-height: 2;
	border: none;
	padding-top: 2.5px;
}

#menu-hover:hover ul{
	display: block;
	opacity: 1;
	visibility: visible;
	/* border: white; */
	color: lightblue;
	border: conflowerblue;
	transform: scale(1.152);
}
.submenu {
	top: 8px;
	position: relative;
	list-style: none;
	text-align: left;
	background: rgba(8,68,102, .2);
	visibility: hidden;
}

.submenu-li{
	right:40px;
	position: relative;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 40px;
	padding-left: 5px;
}
/*==============================================
             HEADER END
==============================================*/


.bgimage .container p{
	color: #fff;
	text-shadow: -1px 2px 3px (245,252,241, 0.5);
}

#name-container{
	color: white;
	font-family: krona one;
}
#name p {
		font-family: krona one;
}

#selfie {
	/* position: center; */
	width: 200px;
	height: auto;
	/* padding-top: 125px; */
	border: 3px solid white;
	border-radius: 50%;
	/* top: 125px; */
	transition: transform .2s;
	transform-origin: 50% 50%;
	cursor: pointer;
}
#selfie:hover {
	transform: scale(1.152);
}


/*==============================================
             LOWER ICONS START
==============================================*/
.icons {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	display: block;
}
.row {
	text-align: center;
}

.icons-hover{
	transition: transform .2s;
	transform-origin: 50% 50%;
}

.icons-hover:hover {
	transform: scale(1.152);
}



