
/*===========================================================
          PROFILE PIC HOVER ANIM
============================================================*/
body{
	width: 1920px;
	height: 1200px;
	background-image: url("../images/profile/background.png");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground 50s linear infinite;
	-webkit-backface-visibility: hidden;
	
}

@keyframes animatedBackground{
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#frontpage-pic img{
	transition: transform .2s;
	transform-origin: 50% 50%;
	cursor: pointer;
}
#frontpage-pic:hover img {
	transform: scale(1.152);
}


/* #frontpage-pic img { */
	/* transition: transform .5s; */
	/* transform-origin: 50% 50%; */
/* } */
/* #frontpage-pic:hover img { */
	/* transform: scale(1.1); */
/* } */